html, body {
	height: 100vh;
	padding: 1rem;
}

.navbar{
	display: flex;
	flex-direction: column;
	position: fixed;
}

.navbar > a {
	/* margin: 3px;
	color: #58595a;
	font-size: 13px; */
	/* font-weight: 500; */
	/* letter-spacing: 1px;
	text-decoration: none; */
	text-transform: capitalize;
}


 .flex {
	display: flex;
}


.content {
	margin: 1rem;
	margin-left:11rem;
}

.title {
	text-align: center;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

.point{
	margin-bottom: 2rem;
	text-transform: capitalize;
}



pre{
	padding: 10px;
	letter-spacing: normal;
	text-transform: none;
}